import os

BASE_DIR = os.path.dirname(os.path.dirname(__file__))

SECRET_KEY = '5l_kc3@-2$a_^s0c+&wid6jvp_q9konzxb!p0)9z9&l1kjj8it'

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'jetradar',
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

INSTALLED_APPS = (
    'django.contrib.gis',
    'app',
)
